<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="jtd_som_360spiff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="jtd_som_360spiff.spiff" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <jtd_som_360spiff.Properties.Settings>
            <setting name="SqlQuery" serializeAs="String">
                <value>SELECT DISTINCT
	ih.customer_id AS 'CustNum', 
	c.customer_name AS 'CustName',
	ih.ship_date AS 'ShipDate', 
	dls.serial_number AS 'SerialNum',
	im.item_id AS ModelNum
FROM invoice_hdr ih
	INNER JOIN invoice_line il ON ih.invoice_no = il.invoice_no
	INNER JOIN customer c on ih.customer_id = c.customer_id
	INNER JOIN inv_mast im ON il.inv_mast_uid = im.inv_mast_uid
	INNER JOIN document_line_serial dls ON dls.document_no = ih.order_no AND dls.line_no = il.oe_line_number
	INNER JOIN inv_loc l ON l.inv_mast_uid = im.inv_mast_uid AND l.location_id = '10'
	INNER JOIN Supplier s on l.primary_supplier_id = s.supplier_id
WHERE CONVERT(date, ih.invoice_date) = @INVDATE 
  AND l.location_id = '10' and (s.supplier_id = '10008' or s.supplier_id = '10009') and im.serialized = 'Y'
  and ih.customer_id not in ('10080','10081','10082','10083','10086','10087','10091','10092','10093','10094','10095','10096','10101','10102','10103','10104','11652')

</value>
            </setting>
        </jtd_som_360spiff.Properties.Settings>
        <jtd_som_360spiff.spiff>
            <setting name="SqlQuery" serializeAs="String">
                <value>
                  select c.customer_id AS CustNum, c.customer_name AS CustName, d.SHPMTDATE AS ShipDate, s.SRLNBR AS SerialNum, d.ITMMDL AS ModelNum from P21.dbo.SOM_SomShipmentDetail d
                  join p21.dbo.SOM_SomShipmentSerial s on s.invnbr = d.invnbr and s.invseq = d.invseq and s.itmnbr = d.itmnbr
                  join p21.dbo.inv_mast i on i.item_id = d.ITMMDL
                  join p21.dbo.inv_loc l on l.inv_mast_uid = i.inv_mast_uid
                  join p21.dbo.vendor v on l.primary_supplier_id = v.vendor_id
                  join p21.dbo.customer c on c.customer_id = d.PTRCUSID
                  where l.location_id = '10' and (v.vendor_id = '10008' or v.vendor_id = '10009') and i.serialized = 'Y'
                  and c.customer_id not in ('10080','10081','10082','10083','10086','10087','10091','10092','10093','10094','10095','10096','10101','10102','10103','10104','11652')
                </value>
            </setting>
        </jtd_som_360spiff.spiff>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>