<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="jtd_utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="jtd_utilities.sql" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="jtd_utilities.Properties.sql" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <jtd_utilities.Properties.Settings>
            <setting name="SqlConnection" serializeAs="String">
                <value>Data Source=localhost;Initial Catalog=p21;User=admin;Password=696946</value>
            </setting>
        </jtd_utilities.Properties.Settings>
        <jtd_utilities.sql>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=jtdsql02.jtdinc.local;Initial Catalog=p21;User ID=admin;Password=696946</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="passWord" serializeAs="String">
                <value>696946</value>
            </setting>
        </jtd_utilities.sql>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><applicationSettings>
    <jtd_utilities.Properties.sql>
      <setting name="connectionString" serializeAs="String">
        <value>Data Source=localhost;Initial Catalog=p21;User=admin;Password=696946</value>
      </setting>
      <setting name="userName" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="passWord" serializeAs="String">
        <value>696946</value>
      </setting>
      <setting name="rootUri" serializeAs="String">
        <value>http://jtdsql02.jtdinc.local:3080/api</value>
      </setting>
      <setting name="MailUsername" serializeAs="String">
        <value>bob@leroynet.com</value>
      </setting>
      <setting name="MailPassword" serializeAs="String">
        <value>Futur3W@v3</value>
      </setting>
      <setting name="connectionStringIntegrated" serializeAs="String">
        <value>Server=jtdsql02.jtdinc.local;Database=P21;Trusted_Connection=yes;</value>
      </setting>
    </jtd_utilities.Properties.sql>
  </applicationSettings>
</configuration>
